<% layout('layouts/boilerplate') %>

<!-- fjfbhfjfbfh -->

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campground/<%= campground._id %>?_method=patch"
      method="post"
      class="vadidate-form"
      novalidate
    >
      <!-- <form method="post" action="/campground"> -->
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%= campground.title %>"
          placeholder="enter title"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= campground.location %>"
          placeholder="enter description "
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          value="<%= campground.image %>"
          placeholder="enter Image URL "
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div class="col-auto mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <div class="input-group-text">$</div>
          <input
            type="text"
            class="form-control"
            id="price"
            value="<%= campground.price %>"
            name="campground[price]"
            placeholder="0.00"
            required
          />
          <div class="valid-feedback">Looks good.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          placeholder="enter Description "
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good.</div>
      </div>
      <button class="btn btn-info mb-3 mt-3">Update</button>
      <a class="btn btn-primary m-3" href="/campground">All Campground</a>
      &nbsp;
    </form>
  </div>
</div>
<!-- <script>
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".vadidate-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script> -->
