<% layout('layouts/boilerplate') %>

<!--  -->

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-4">
      <img src="<%= campground.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        <li class="list-group-item">$ <%= campground.price %>.00/night</li>
        <!-- <li class="list-group-item">A third item</li> -->
      </ul>
      <div class="card-body">
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
        <a
          class="card-link btn btn-warning"
          href="/campground/<%= campground._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          method="post"
          action="/campground/<%= campground._id %>?_method=delete"
          id=""
        >
          <button class="btn btn-danger">delete</button>
        </form>
        <!-- <div class="card-footer text-muted">2 days ago</div> -->
      </div>
      <div class="card-footer text-body-secondary">2 days ago</div>
    </div>
  </div>
</div>

<!--  -->

<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
